// Container & Breakpoints
@use 'sass:math';
$breakpoint1450: 1449.98 + px;
$breakpoint1160: 1159.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'white';
$burgerActiveColor: 'white';
$primaryHoverColor:#e3eac0;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';
